.canvasWindow {
    background-image: url("Picture.png");
}

#windowTask {
    position: absolute;
    top: 400px;
    left: 600px;
    width: 350px;
    height: 200px;
    border: firebrick 3px solid;
    background-color: blueviolet; 
}

#answer {
    /* position: absolute; */
    width: 50px;
    top: 405px;
    left: 700px;
}

.canvasPlayer1 {
    background-color: transparent;
    position: absolute;
    left: 200px;
    top: 550px;
}

.canvasPlayer2 {
    background-color: transparent;
    position: absolute;
    left: 1050px;
    top: 550px;
}
